:root {
    --min-lines: 25;
}

.settings {
    display: grid;
    grid-template-columns: max-content auto;
    justify-items: start;
    grid-gap: 0.5em;
    margin-bottom: 0.5em;
}

label {
    font-size: 1.2em;
    font-weight: bold;
}

.rule_editor {
    display: flex;
}

.code {
    font-family: monospace;
    font-size: medium;
    padding: 2px;
    border: 1px solid #777777;
    background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
    background-position-y: 0.15lh;
    background-size: 100% 2lh;
    background-attachment: local;
}

textarea {
    min-height: 25lh;
}

#line_numbers {
    resize: none;
    width: 5ch;
    text-align: right;
    overflow: hidden;
    border-right: none;
}

#rename_map {
    min-width: 40ch;
}

.sample_section {
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

code#sample_value {
    white-space: pre;
}

#save_msg {
    color: green;
}

#error_msg {
    color: red;
}
